# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.testigoF.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ondra\Desktop\testigoF\.idea\.idea.testigoF.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
